<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png">
    <meta charset="UTF-8">
    <title> My Spotify Tracklist</title>
</head>
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="nav_icon">
      <a href="http://127.0.0.1:8000/"><img src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png" width="50" height="50" ></a>
  </div>

</nav>
<div class="playlist">
  <div class="rounded-border">
  <br>
      <form class="form-inline" method="get">
        <input class="form-control" style="width: 85%;" name="uri" placeholder="Enter playlist URL">
    <button class="btn btn-dark" type="submit">Submit</button>
        </form>
      <br>
<table class="table">
  <tbody>

  {% for track in track_list%}
    <tr>
        <div class="ss">
        <td><img src="{{track.image}}" height="35px" width="35px"></td>
            <td><a href="{{track.artist_link}} " target="_blank" style="color: black">{{track.artist_name}}</a></td>
        <td><a href="{{track.track_link}}"  target="_blank" style="color:black">{{track.track_name}}</a></td>
            </div>
        <td>
        <audio id="audioPlayer" controls>
        <source src="{{track.preview}}" type="audio/mpeg">
    </audio>
        </td>
           <td><a href="{{track.track_link}}"><div class="spotify_logo"><img src="https://i.ibb.co/VL0HsyS/link.png" width="32px" height="32px"></div></a> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
{% if messages %}
{% for message in messages %}
<div class="error_message alert alert-danger" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <title>Song Player</title>
</head>
<body>


    <script>
        function playSong() {
            var audio = document.getElementById("audioPlayer");
            audio.play();
        }
    </script>
</body>
</html>