.playlist {
  width: 50%;
  margin-left: 450px;
  border-radius: 10px;
}
body{
  background-color: white;
}
form{
  margin-left: 3px;

}
button{
  margin-left: 50px;
}
.rounded-border {
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid lightgrey;
  padding: 10px;
}
.image{
  margin-left: 170px;
}
.nav_icon{
  margin-left: 100px;
}
.spotify_logo{
  margin-top: 12px;
}

